body{
    background-color:lightblue;
}

#app{
    border-style:solid;
    border-color:lightgrey;
    border-radius:20px;
    padding:15px;
    background-color:white;
    box-shadow: 20px 20px 3px;
    width: 400px;
    height:150px;
}

.button{
    background-color:black;
    color:white;
    border-style:none;
    border-radius:10px;
    box-shadow:2px 1px 1px grey;
}