body{
    background-color:lightblue;
    width:100%;
    height:100%;
}

#appHeading{
    width:90%;
    height:220px;
    display:flex;
    justify-content:space-around;    
}
#choresListing{
    width:90%;
    display:flex;
    justify-content:space-around;
    border-style:solid;
}
#menu{
    border-style:solid;
    border-color:lightgrey;
    border-radius:20px;
    padding:15px;
    background-color:white;
    box-shadow: 7px 7px 6px;
    width: 400px;
    height:150px;
}

.button{
    background-color:black;
    color:white;
    border-style:none;
    border-radius:10px;
    box-shadow:2px 1px 1px grey;
}